<!-- add new goal -->
<input ng-model="goalName"/>
<input ng-model="goalFreq"/>
<input ng-model="goalPoints"/>
<button ng-click="add()">Submit</button>

<!-- print all goals -->
<table border="1">
  <tr>
    <th>Name</th>
    <th>Times per week</th>
    <th>Points per time</th>
    <th>Did it!</th>
    <th>Update</th>
    <th>Delete</th>
  </tr>
  <tr>
    <td>{{ goalName }}</td>
    <td>{{ goalFreq }}</td>
    <td>{{ goalPoints }}</td>
    <td>{{ goalTimesDone }}</td>
    <td ng-click="update()">Update</td>
    <td ng-clock="delete()">Delete</td>
  </tr>
</table>