body {
  font-family: Geneva;
}

table.collection {
  border-collapse: collapse;
  border: solid 1px black;
}

table.individual {

}

table.control th {
  text-align: right;
}

table.control th,
table.control td {
  padding: 10px;
}
table.control td.auxiliary {
  padding-left: 100px;
}

a:visited {
  color: blue;
}

.positive {
  color: green;
}

.warning {
  color: red;
}

.auxiliary {
  float: right;
}

header {
  background-color: #e5ffe5;
  /*color: b;*/
  padding: 10px;
  border-radius: 5px;
}