body {
  font-family: Geneva;
}

table.collection {
  border-collapse: collapse;
  border: solid 1px black;
}

table.individual {

}

a:visited {
  color: blue;
}

.positive {
  color: green;
}

.warning {
  color: red;
}

.auxiliary {
  float: right;
}

header {
  background-color: #e5ffe5;
  /*color: b;*/
  padding: 10px;
  border-radius: 5px;
}