<!-- add new goal -->
<header>
  <p>User: <input ng-model="userName" />
    <button ng-click="loadUser()">Change user</button><p>
  <p>"Treat Yo'self" Credits:
    <span class="positive">${{ userPoints/100 | number:2 }}</span>
  </p>
  <p>$<input ng-model="toUse" placeholder="0.00"/><button ng-click="usePoints()">Spend credit</button></p>
</header>

<h2>Add new goal</h2>
Name: <input ng-model="goalName"/>
Times per week: <input ng-model="goalFreq"/>
Points earned per time: <input ng-model="goalPoints"/>
<button ng-click="add()">Submit</button>

<!-- print all goals -->
<h2>All Goals</h2>
<table border="1" class="collection">
  <tr>
    <th>Name</th>
    <th>Times per week</th>
    <th>Points per time</th>
    <th>Times done</th>
    <th>Did it!</th>
    <th>Update</th>
    <th>Delete</th>
  </tr>
  <tr ng-repeat="goal in storage">
    <td>{{ goal.name }}</td>
    <td>{{ goal.freq }}</td>
    <td>{{ goal.points }}</td>
    <td>{{ goal.timesDone }}</td>
    <td>
      <button ng-click="incrementTimesDone($index)" class="positive">
        Did it!
      </button>
    </td>
    <td>
      <button ng-click="redirectToIndividual(goal._id)">
        Update
      </button>
    </td>
    <td>
      <button ng-click="delete(goal._id)" class="warning">
        Delete
      </button>
    </td>
  </tr>
</table>