<header>
  <form name="userForm" novalidate>
    <table class="control">
      <tr>
        <th>User:</th>
        <td>{{ userName }}</td>
        <td class="auxiliary">
          <input name="userNameBox" ng-model="userNameBox" required />
          <button ng-click="loadUser()" ng-disabled="userForm.userNameBox.$invalid">Change user</button>
        </td>
      </tr>
      <tr>
        <th>"Treat Yo'self" Fund:</th>
        <td>
          <span class="positive">${{ userPoints/100 | number:2 }}</span>
        </td>
        <td class="auxiliary">
          $<input name="toUse" type="number" ng-model="toUse" placeholder="0.00" ng-pattern="/^[0-9]*(\.[0-9]{1,2})?$/" max={{userPoints/100}}/>
          <button ng-click="usePoints()" ng-disabled="userForm.toUse.$invalid">Spend credit</button>
        </td>
      </tr>
    </table>
    <!-- start Validation -->
    <div class="warning" ng-show="userForm.userNameBox.$invalid">
      Please enter user name
    </div>
    <div class="warning" ng-show="userForm.toUse.$invalid && !userForm.toUse.$error.max">
      Please enter valid value (positive, up to 2 decimals)
    </div>
    <div class="warning" ng-show="userForm.toUse.$error.max">
      You don't have enough credits!
    </div>
  </form>
</header>

<!-- add new goal -->
<h2>Add new goal</h2>
<form name="goalForm" novalidate>
  <table>
    <tr>
      <td>Name:</td>
      <td><input name="goalName" ng-model="goalName" required/></td>
      <td>Times per week:</tg>
      <td><input name="goalFreq" type="number" ng-model="goalFreq" ng-pattern="/^[0-9]*$/"/></td>
      <td>Points earned per time:</td>
      <td><input name="goalPoints" type="number" ng-model="goalPoints" required min="0"/></td>
      <td><button ng-click="add()" ng-disabled="goalForm.$invalid">Submit</button></td>
    </tr>
  </table>
  <!-- start Validation -->
  <div class="warning" ng-show="goalForm.goalName.$touched && goalForm.goalName.$invalid">
    Please enter goal name
  </div>
  <div class="warning" ng-show="goalForm.goalFreq.$invalid">
    Please enter valid frequency (positive integer)
  </div>
  <div class="warning" ng-show="goalForm.goalPoints.$invalid">
    Please enter valid points (positive number)
  </div>
  <!-- end Validation -->
</form>

<!-- print all goals -->
<h2>All Goals</h2>
<table border="1" class="collection">
  <tr>
    <th>Name</th>
    <th>Times per week</th>
    <th>Points per time</th>
    <th>Times done</th>
    <th>Did it!</th>
    <th>Update</th>
    <th>Delete</th>
  </tr>
  <tr ng-repeat="goal in storage">
    <td>{{ goal.name }}</td>
    <td>{{ goal.freq }}</td>
    <td>{{ goal.points }}</td>
    <td>{{ goal.timesDone }}</td>
    <td>
      <button ng-click="incrementTimesDone($index)" class="positive">
        Did it!
      </button>
    </td>
    <td>
      <button ng-click="redirectToIndividual(goal._id)">
        Update
      </button>
    </td>
    <td>
      <button ng-click="delete(goal._id)" class="warning">
        Delete
      </button>
    </td>
  </tr>
</table>