<!-- add new goal -->
<input ng-model="username" />

<h2>Add new goal</h2>
Name: <input ng-model="goalName"/>
Times per week: <input ng-model="goalFreq"/>
Points earned per time: <input ng-model="goalPoints"/>
<button ng-click="add()">Submit</button>

<!-- print all goals -->
<h2>All Goals</h2>
<h3>Treat Yo'self Credits: ${{ totalPoints/100 | number:2 }}</h3>
$<input ng-model="toUse" /><button ng-click="use()">Spend credit</button>
<table border="1">
  <tr>
    <th>Name</th>
    <th>Times per week</th>
    <th>Points per time</th>
    <th>Did it!</th>
    <th>Update</th>
    <th>Delete</th>
  </tr>
  <tr ng-repeat="goal in storage">
    <td>{{ goal.name }}</td>
    <td>{{ goal.freq }}</td>
    <td>{{ goal.points }}</td>
    <td ng-click="incrementTimesDone($index)">{{ goal.timesDone }}</td>
    <td><button ng-click="redirectToUpdate(goal._id)">Update</button></td>
    <td><button ng-click="delete($index)">Delete</button></td>
  </tr>
</table>